.metrosingle {
	width: 112px;
	height: 100px;
	margin-left: 10px;
}

.metrodouble {
	width: 232px;
	height: 130px;
	margin-left: 10px;
}

/* Grid */

.grid {
	margin-top: 0px;
	padding: 0px;
	background-color: #000;
	color: #000;
	border: 0px;
	z-index: -300;
	width: 320px;
}

.grid_1 {
	width: 260px;
	float: left;
}

.grid_2 {
	width: 40px;
	padding: 0;
	margin-top: 15px;
	float: right;
}


/* Image */

.metro .imgsingle {
	height: 64px;
	width: 64px;
	padding: 8px 25px;
	border: 0px;
	position: absolute;
	display: block;
}

/* text */

.imagespan {
	margin-top: 75px;	
	width: 100px;
}

.textspan {
	margin-top: 65px;	
	width: 100px;
}

.metrotext {
	text-transform: none;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	display: inline;
	text-align: center;		
}