html {
	background: #000000;;
}

#message p {
	color: #ffffff;
}

.metro-seminar {
	background: #03aeda;
}

.metro-green {
	background: #97c02c;
}

.metro-black {
	background: #000000;
}

.metro-gray {
	background: #303030;
}

.metro-red {
	background: #ff1d15;
}

.metro-blue {
	background: #0432ff;
}

.metro-html5 {
	background: #f16529;
}

.metro-default {
	background-color: #0096ff;
}

/* Special Tiles */
.metro-camera {
	background: #feffff;
}

.metro {
	position: relative;
	margin-right: 0px;
	margin-top: 10px;
	cursor: pointer;
	float: left;
}

.metro:hover {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

.metro-ui {
	display: inline;
	clear: both;
	height: auto;
	margin: 0;
}

.metro .imgdouble {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
}

.metro span {
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255,1.0);
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
	bottom: 0px;
}

.metro span:hover {
	
}

/* Sidebar */

.options {
 	width: 32px;
 	height: 32px;
 	background-color: #000000;
	z-index: 1000;
	overflow: visible;
	background: url(../images/application_manager.png) no-repeat;
	margin-bottom: 8px;
}

.options_done {
 	width: 32px;
 	height: 32px;
 	background-color: #000000;
	z-index: 1000;
	overflow: visible;
	background-image: url(../images/done_32.png);
}

.options_sorting {
 	width: 32px;
 	height: 32px;
	z-index: 1000;
	overflow: visible;
	background: #000000 url(../images/sort_neutral.png) no-repeat;
	margin-top:16px;
}

.options_remove {
 	width: 32px;
 	height: 32px;
	z-index: 1000;
	overflow: visible;
	background: #000000 url(../images/list_remove.png) no-repeat;
	margin-top:16px;
}

.options_resize {
 	width: 32px;
 	height: 32px;
	z-index: 1000;
	overflow: visible;
	background: #000000 url(../images/resize.png) no-repeat;
	margin-top:16px;
}

.options_paint {
 	width: 32px;
 	height: 32px;
	z-index: 1000;
	overflow: visible;
	background: #000000 url(../images/pencil-color-icon_32.png) no-repeat;
	margin-top:16px;
}

.options_savenow {
 	width: 32px;
 	height: 32px;
	z-index: 1000;
	overflow: visible;
	background: #000000 url(../images/cloud_add_32.png) no-repeat;
	margin-top:16px;
}

.debug h2 {
	color: #feffff;
}
