<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.launchergap.preview"
    android:versionCode="12"
    android:versionName="1.0.pre1" 
    android:label="LauncherGap" >
    
    <original-package android:name="com.android.launcher" />
 
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/metro_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:process="android.process.acore" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor" >
            <intent-filter>     
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MulticoreTaskManagerActivity"
            android:label="@string/app_name" >
        </activity>  
        <activity
            android:name=".AppDetailDialog"
            android:theme="@style/activity_float" >
            <intent-filter>
                <action android:name="com.moko365.app.AppDetailDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        <activity
            android:name=".ApplicationManagerActivity" 
            android:process=":ApplicationManager"
            >
            <intent-filter>
                <action android:name="metromenu.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
        </activity>  
        <activity android:name=".SpecialTileActivity" 
            android:theme="@style/SpecialTileActivity" >
            <intent-filter>
                <action android:name="metromenu.intent.action.SPECIAL_TILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
        </activity>
        <receiver android:name="com.launchergap.preview.PhoneStateBroadcastReceiver">
            <intent-filter>
            		<action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.launchergap.preview.MetroShareToWeb" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="image/*"></data>
            </intent-filter>
        </activity>        
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    
</manifest>
