html {
	background: #000000;;
}

#message p {
	color: #ffffff;
}

.metro-seminar {
	background: #03aeda;
}

.metro-android {
	background: #97c02c;
}

.metro-black {
	background: #303030;
}

.metro-red {
	background: #ff1d15;
}

.metro-html5 {
	background: #f16529;
}

.metro-default {
	background-color: #0096ff;
}

/* Special Tiles */
.metro-camera {
	background: #feffff;
}

.metro {
	position: relative;
	margin-right: 15px;
	margin-top: 15px;
	cursor: pointer;
	float: left;
}

.metro:hover {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

.metro-ui {
	display: inline;
	clear: both;
	height: auto;
	margin: 0;
}

.metro .imgsingle {
	height: 64px;
	width: 64px;
	padding: 8px 35px;
	border: 0px;
	position: absolute;
	display: block;
}

.metro .imgdouble {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
}

.metro span {
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255,1.0);
	float: left;
	text-align: center;
	clear: both;
	width: 100%;
	bottom: 0px;
}

.metro span:hover {
	
}

.metrosingle {
	width: 130px;
	height: 100px;	
}

.metrodouble {
	width: 275px;
	height: 130px;
}

/* text */

.metrotext {
	width: 130px;
	margin-top: 75px;
	text-transform: none;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	display: inline;
	position: absolute;
	text-align: center;		
}

/* Sidebar */

.options {
 	width: 48px;
 	height: 48px;
 	background-color: #000000;
	position: fixed;
	float: right;
	z-index: 10;
	overflow: visible;
	background-image: url(images/settings.png);
	margin-top: 15px;
	display: block;
	visibility: visible;
}

.done {
 	width: 48px;
 	height: 48px;
 	background-color: #000000;
	position: fixed;
	float: right;
	z-index: 10;
	overflow: visible;
	background-image: url(images/done_48.png);
	margin-top: 15px;
	display: block;
	visibility: visible;
}

.debug h2 {
	color: #feffff;
}

/* Grid */

.grid_1 {
	display: inline;
	float: left;
	width: 290px;
}

.grid_12 {
	display: inline;
	float: right;
	width: 50px;
}